
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root {
    
    --bg: #ffffff;
    --text-color: #b37199;
    --text-contacts: #a71163;
    --sphere-color: #d43296;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /* color: var(--text-color); */
    text-decoration: none;
}



body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg);
    font-family: 'quicksand', sans-serif;
    padding-bottom: 4vw;
}

#titulo {
    position: absolute;
    top: 2%;
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    margin-top: 7vh;
}

.avatar img {
    width: 65%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

.social {
    background-color: var(--bg);
    width: 90vw;
    display: flex;
    text-align: left;
    padding-bottom: 2vw;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 2vw;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

#titulo{
    color: var(--text-contacts);
}

.nome {
    display: flex;
    margin-top: 3vw;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2vw;
    color: var(--text-contacts);
}

hr {
    border: 1px solid var(--text-contacts);
    width: 90%;
}


.circulo {
    position: fixed;
    top: 30vh;
    z-index: -100;
    width: 100vw;
    height: 110vw;
    border-radius: 50%;
    background-color: var(--sphere-color);
    filter: blur(190px);
}

a {
    font-weight: bold;
    color: var(--text-contacts);
}

.contacts {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: start;
    gap: 5vw;
    padding: 3vw;
    margin-top: 2vw;
    margin-left: 5%;
    height: 100%;
    width: 100%;
}

.whats,
.linkedin,
.instagram,
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 3vw;
    width: 90%;

    img{
        display: block;
    }
}

.whats img {
    width: 10vw;
}

.linkedin img {
    width: 10vw;
}

.instagram img {
    width: 10vw;
}

.email img {
    width: 10vw;
}

.website img {
    width: 10vw;
}



/* -------------------------------------------- */

@media (min-width: 1024px), screen and (orientation: landscape) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-bottom: 0;
    }

    #titulo {
        position: relative;
        top: 1%;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        max-width: 1200px;
    }

    .avatar {
        text-align: center;
        margin-top: 0;
        width: 50%;
    }

    .avatar img {
        width: 20vw;
        border-radius: 35%;
        z-index: 10;
    }

    .nome{
        width: 90%;
        margin-top: 0;

        hr{
            width: 100%;
        }
    }



    .social {
        width: 50vw;
        max-width: 600px;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1vw;
    }

    .contacts {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: space-between;
        gap: 2vw;
        margin-top: 0;
    }

    .whats,
    .linkedin,
    .instagram,
    .email{
        display: flex;
        align-items: center;
        gap: 1vw;
        width: 100%;
    }

    .whats img,
    .linkedin img,
    .instagram img,
    .email img {
        width: 3vw;
        max-width: 4vw;
    }

    .circulo {
        position: fixed;
        top: 50%;
        left: 60vw;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        background-color: var(--sphere-color);
        filter: blur(240px);
        transform: translate(-50%, -50%);
        z-index: -100;
    }


}